USE [master]
GO
/****** Object:  Database [WordsKiller]    Script Date: 2018/6/19 11:15:45 ******/
CREATE DATABASE [WordsKiller]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WordsKiller', FILENAME = N'E:\deleteable\WordsKiller\WordsKiller\App_Data\WordsKiller.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 20%)
 LOG ON 
( NAME = N'WordsKiller_log', FILENAME = N'E:\deleteable\WordsKiller\WordsKiller\App_Data\WordsKiller_log.ldf' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 20%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WordsKiller].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WordsKiller]
GO
USE [WordsKiller]
GO
/****** Object:  Table [dbo].[learningRecord]    Script Date: 2018/6/19 11:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learningRecord](
	[userId] [int] NULL,
	[learnTime] [smalldatetime] NULL,
	[userName] [nvarchar](20) NULL,
	[learningRecordId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_learningRecord] PRIMARY KEY CLUSTERED 
(
	[learningRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[memoryList]    Script Date: 2018/6/19 11:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memoryList](
	[username] [nvarchar](20) NOT NULL,
	[word] [nvarchar](20) NOT NULL,
	[memoryListId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_memoryList] PRIMARY KEY CLUSTERED 
(
	[memoryListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[people]    Script Date: 2018/6/19 11:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people](
	[userName] [nvarchar](50) NOT NULL,
	[userPwd] [nvarchar](50) NOT NULL,
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userEmail] [nvarchar](50) NOT NULL,
	[wordsDegree] [nvarchar](50) NULL,
	[nextWordId] [int] NULL,
 CONSTRAINT [PK_people] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[words]    Script Date: 2018/6/19 11:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[words](
	[word] [nvarchar](20) NOT NULL,
	[explanation] [nvarchar](50) NOT NULL,
	[pronunciation] [nvarchar](20) NULL,
	[pronuAudio] [nvarchar](50) NULL,
	[associate] [nvarchar](50) NULL,
	[wordId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_words] PRIMARY KEY CLUSTERED 
(
	[wordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[people] ADD  CONSTRAINT [DF_people_nextWordId]  DEFAULT ((1)) FOR [nextWordId]
GO
USE [master]
GO
